
    <div class="row">
        <div class="col-xs-12 text-center">

            <img id="logo" src="/budgetCheck/src/assets/Logo_Ftracker.png" alt="Finance Tracker">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  d-flex justify-content-between ">
                <ul class="navbar-nav flex-row w-100 justify-content-around  border-bottom border-top border-white ">
                    <li class="nav-item ">
                        <a class="nav-link active text-white " aria-current="page" href="Expenditures">Gastos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Markets">Mercados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="Options">Opciones</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    
    
