/* You can add global styles to this file, and also import other style files */

body, html {
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(50, 50, 50);
    min-height: 100vh; 
}

#dayBudget{
    
}

#logo{
    width: 100px;
    margin: 0px;
    padding: 0px;
    padding-top: 2%;
}

#Expenditures{
    color: white;
    text-align: center;
}

#initialBalance{
    margin-top: 3%;
    
    
}

.mr-3{
    padding-top: 8px;
    margin-right: 10px;
}

.form-control{
    margin-right: 5%;
}


/* styles.css */

.stock-border {
    margin: 0.5rem; /* equivale a m-2 */
  }
  
  .stock-border:first-child {
    border-top: 1px solid white;
  }
  
  .stock-border:not(:last-child) {
    border-bottom: 1px solid white;
  }
  
#price{
    color: #25f899;
}  
  